@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,800;1,900&display=swap');

:root {
  --background: #03040f;
  --color: #d6d6d6;
  --primary: #ff5705;
  --secondary: #0a0b1a;
  --success: palegreen;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

body {
  color: var(--color);
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 60%;
  margin: 0 auto;
}

nav {
  padding: 20px 0;
}

.navbarLogo {
  width: 50px;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.navbarSocialLinks {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.searchEngine {
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchField {
  border: none;
  width: 250px;
  outline: none;
  padding: 5px;
  border-radius: 7px;
  background-color: var(--secondary);
  color: var(--color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.searchButton {
  border: none;
  background-color: transparent;
  color: var(--color);
}

.searchContain {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary);
  padding: 5px 10px;
  border-radius: 7px;
}

.navbarSocialLink:first-child {
  font-size: 1.5rem;
  color: var(--color);
  display: flex;
  border: 7px solid #10101a;
  border-radius: 50%;
}

.navbarSocialLink:last-child {
  display: flex;
  font-size: 1.5rem;
  color: var(--color);
  border: 7px solid #10101a;
  border-radius: 50%;
}

.partitionTitle {
  padding-bottom: 10px;
}

.partitionTitleII {
  padding: 10px 0;
}

.topAiringCard {
  display: block;
  padding: 5px;
  background-color: var(--secondary);
  height: 100%;
  border-radius: 7px;
  text-decoration: none;
  color: var(--color);
}

.react-multi-carousel-track {
  gap: 5px;
}

.topAiringTitle {
  font-size: 14px;
  line-height: 14px;
}

.topAiringPoster {
  border-radius: 7px;
  width: 100%;
  height: 70%;
}

.topRanking {
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  /* color: var(--success); */
  background-color: var(--background);
  padding: 1px 5px;
  text-align: center;
  border-radius: 5px;
}

.streaming {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  gap: 5px;
  padding-bottom: 50px;
}

.streamingInfo {
  background-color: var(--secondary);
  border-radius: 7px;
  padding: 5px;
}

.streamingInfoPoster {
  width: 100%;
  border-radius: 7px;
}

.streamingInfoDescription {
  opacity: 50%;
  line-height: 18px;
}

.streamingInfoDeep {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}

.streamingInfoDeepAll {
  padding: 10px 0;
}

.streamingGenres {
  font-size: 12px;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}

.streamingGenre {
  padding: 3px 5px;
  border-radius: 6px;
  background-color: var(--background);
}

.streamingPlayer {
  padding: 5px;
  border-radius: 7px;
  background-color: var(--secondary);
}

.streamingPlayerButtons {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  gap: 2px;
}

.streamingPlayerButton {
  background-color: var(--background);
  border: none;
  color: var(--color);
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.latestContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding-bottom: 20px;
}

.latestPoster {
  width: 100%;
  height: 200px;
  border-radius: 7px;
}

.latestIndividual {
  position: relative;
  background-color: var(--secondary);
  padding: 5px;
  border-radius: 7px;
  text-decoration: none;
  color: var(--color);
  line-height: 16px;
}

.latestTitle {
  padding: 3px 0;
  font-size: 14px;
}

.latestEpisodeNumber {
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--background);
  padding: 2px 5px;
  border-radius: 5px;
}

.streamingPlayerEpisodeNumber {
  padding: 5px;
  text-transform: capitalize;
}

.searchContainerMain {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.searchPoster {
  width: 100%;
  border-radius: 7px;
  height: 205px
}

.searchIndividual {
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 7px;
  font-size: 14px;
  text-decoration: none;
  color: var(--color);
}