@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,700;1,400;1,800;1,900&display=swap");

:root {
  --background: #0b1621;
  --color: #adadad;
  --primary: #00859b;
  --secondary: #151f2e;
  --success: palegreen;
  --adult: #ff006e;
}

/* Custom styles to override Disqus default link color */
#disqus_thread a {
  color: var(--primary) !important;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

body {
  color: var(--color);
  background-color: var(--background);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
iframe {
  border: 0;
  overflow: hidden !important;
}
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 60%;
  margin: 0 auto;
}

/* Navbar Codes Start */
nav {
  padding: 10px 0;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.navbarII {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.navbarLR {
  display: flex;
  align-items: center;
  gap: 5px;
}

.navbarLR_login,
.navbarLR_register {
  text-decoration: none;
  color: var(--color);
}

.navbarLR_register {
  padding: 3px 15px;
  background-color: var(--secondary);
  border-radius: 7px;
}

.navbar_search {
  font-size: 1rem;
  border: none;
  width: 250px;
  color: var(--color);
  background-color: var(--secondary);
  outline: none;
}

.navbar_logo {
  width: 45px;
}

.navbarMenu {
  display: none;
  align-items: center;
  justify-content: flex-end;
}

.navbarMenuButton {
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  color: var(--color);
  z-index: 100000000;
  display: flex;
  cursor: pointer;
}

.navbar_search_form {
  display: flex;
  align-items: center;
  gap: 5px;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 7px;
  overflow: hidden;
}

.navbar_search_icon {
  display: flex;
  border: none;
  color: var(--color);
  font-size: 1.2rem;
  background-color: transparent;
  cursor: pointer;
}

.navbar_text_logo {
  color: var(--color);
  text-decoration: none;
  text-transform: capitalize;
}
.navbar_text_logo > p {
  display: inline;
  color: var(--primary);
  font-weight: 500;
}

/* Navbar Codes End */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #23232329;
}

.partitionTitle {
  padding-bottom: 10px;
}

.partitionTitleII {
  padding: 10px 0;
}

.topAiringCard {
  display: block;
  padding: 5px;
  background-color: var(--secondary);
  height: 97%;
  border-radius: 7px;
  text-decoration: none;
  color: var(--color);
}

.react-multi-carousel-track {
  gap: 5px;
}

.topAiringTitle {
  font-size: 14px;
  line-height: 14px;
}

.topAiringPoster {
  border-radius: 7px;
  width: 100%;
  aspect-ratio: 2/2.7;
}

.loader_center {
  text-align: center;
}

.topRanking {
  font-size: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  /* color: var(--success); */
  background-color: var(--background);
  padding: 1px 5px;
  text-align: center;
  border-radius: 5px;
}

.streaming {
  display: grid;
  grid-template-columns: 3.5fr 1fr;
  gap: 5px;
  padding-bottom: 50px;
  align-items: flex-start;
}

.streamingInfo {
  background-color: var(--secondary);
  border-radius: 7px;
  padding: 5px;
}

.streamingInfoPoster {
  width: 100%;
  border-radius: 7px;
}

.streamingInfoDescription {
  opacity: 50%;
  line-height: 18px;
}

.streamingInfoDeep {
  font-size: 14px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
}

.streamingInfoDeepAll {
  padding: 10px 0;
}

.streamingGenres {
  font-size: 12px;
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
}
.streamingV2_PosterContainer {
  position: relative;
}
.isAdult {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.9rem;
  padding: 2px 8px;
  color: var(--adult);
  background-color: var(--background);
  border-radius: 4px;
}
.streamingGenre {
  padding: 3px 5px;
  border-radius: 6px;
  background-color: var(--background);
}

.streamingPlayer {
  padding: 5px;
  border-radius: 7px;
  background-color: var(--secondary);
}

.streamingPlayerButtons {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 2px;
  max-height: 188px;
  overflow-y: scroll;
}

.streamingPlayerButton {
  background-color: var(--background);
  border: none;
  color: var(--color);
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.latestContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding-bottom: 20px;
}

.latestPoster {
  width: 100%;
  height: auto;
  border-radius: 7px;
  aspect-ratio: 2/3;
  object-fit: cover;
}

.latestIndividual {
  position: relative;
  background-color: var(--secondary);
  padding: 5px;
  border-radius: 7px;
  text-decoration: none;
  color: var(--color);
  line-height: 16px;
  overflow: hidden;
}
.latestTitle {
  padding: 3px 0;
  font-size: 14px;
}
.latest_tags {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  gap: 2px;
  align-items: center;
}
.latest_tag {
  background-color: var(--background);
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 10px;
}
.latest_adult {
  color: var(--adult);
}
.streamingPlayerEpisodeNumber {
  padding: 5px;
  text-transform: capitalize;
}

.searchContainerMain {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  padding-bottom: 20px;
}

.searchPoster {
  width: 100%;
  border-radius: 7px;
  aspect-ratio: 2/3;
}

.searchIndividual {
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 7px;
  font-size: 14px;
  text-decoration: none;
  color: var(--color);
  overflow: hidden;
}

video {
  outline: none;
}

.e404 {
  text-align: center;
  margin-top: 50px;
}

.notFound {
  text-align: center;
}

.notFound > img {
  transform: translateX(-15px);
}

.latest_Header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.latest_buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.latest_button {
  font-size: 0.7rem;
  border: none;
  padding: 2px 10px;
  background-color: var(--secondary);
  color: var(--color);
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
.streaming_title {
  font-size: 1rem;
  font-weight: 500;
  line-height: 20px;
}
.streaming_Seperator {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.streaminDownloadLink {
  color: var(--color);
  padding: 0 2px;
}

.signup_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.signup_form > input {
  font-size: 1rem;
  border: none;
  padding: 10px;
  color: var(--color);
  background-color: var(--background);
  border-radius: 7px;
  outline: none;
}

.signup_form > button {
  font-size: 1rem;
  padding: 10px;
  border: none;
  border-radius: 7px;
  color: var(--color);
  background-color: var(--background);
  width: 250px;
  cursor: pointer;
}

.signup_checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}

.signupImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupImage {
  width: 200px;
  transform: translateY(30px);
}

.signup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 10px;
  background-color: var(--secondary);
  border-radius: 7px;
}

.login_form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
}

.login_form > input {
  font-size: 1rem;
  padding: 10px;
  border-radius: 7px;
  border: none;
  outline: none;
  color: var(--color);
  background-color: var(--background);
}

.login_form > button {
  font-size: 1rem;
  padding: 10px;
  border-radius: 7px;
  border: none;
  color: var(--color);
  background-color: var(--background);
  width: 250px;
  cursor: pointer;
}

.login {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  align-items: center;
  background-color: var(--secondary);
  border-radius: 7px;
  overflow: hidden;
}

.loginImage {
  width: 200px;
  transform: translateY(20px);
}

.loginImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.streamingV2 {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
  padding: 0 0 10px 0;
  align-items: flex-start;
}

.streamingV2_Poster {
  width: 100%;
  border-radius: 7px;
}

.streamingV2_Info {
  padding: 5px;
  border-radius: 7px;
  background-color: var(--secondary);
  font-size: 0.9rem;
}

.streamingV2_description {
  font-size: 0.95rem;
  line-height: 20px;
  opacity: 50%;
  margin: 5px 0;
  max-height: 200px;
  overflow-y: scroll;
}

.streamingV2InfoGenres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
  margin-top: 5px;
}

.streaming_options > select {
  border: none;
  color: var(--color);
  background-color: var(--background);
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
}

.streamingV2InfoGenres > span {
  background-color: var(--background);
  padding: 1px 10px;
  border-radius: 7px;
}

.streamingV2Synonyms {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.streamingV2AllSynonyms {
  display: flex;
  gap: 5px;
}

/* Profile Start */
.profile_banner {
  height: 200px;
  background-color: var(--secondary);
  border-radius: 7px;
  position: relative;
}

.profile_avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid var(--background);
}

.profile_banner_inner {
  position: absolute;
  bottom: -55px;
  left: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.profile_username {
  font-size: 1.2rem;
  font-weight: 500;
}

.profile_lists {
  margin-top: 55px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding-bottom: 50px;
}

.list_indi {
  background-color: var(--secondary);
  border-radius: 7px;
  padding: 5px;
}

.list_inner {
  display: flex;
  flex-direction: column;
}

.list_inner > p > a {
  text-decoration: none;
  color: var(--primary);
}

.profile_list_grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

.profile_list_image {
  width: 100%;
  border-radius: 7px;
}

.profile_logout {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  font-size: 1.2rem;
  color: var(--color);
  background-color: transparent;
  cursor: pointer;
}

.announcement {
  background-color: var(--primary);
  color: var(--background);
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin-top: 10px;
}

.close_announcement {
  border: none;
  background-color: transparent;
  font-size: 1.1rem;
  cursor: pointer;
  margin-right: 5px;
}

.announcement_text {
  line-height: 13px;
  margin: 10px;
}

/* Profile End */

.navbar_socials {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
}
.navbar_socials > a {
  display: flex;
  color: var(--color);
}
.streaming_sources {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px 0;
}
.streaming_sources > button {
  font-size: 1rem;
  border: none;
  color: var(--color);
  background-color: var(--background);
  padding: 5px 10px;
  border-radius: 7px;
  cursor: pointer;
}
.disqus {
  background-color: var(--secondary);
  margin-top: 5px;
  border-radius: 7px;
  text-align: center;
}
.publisher-anchor-color a,
.sort-menu-refresh__item.selected {
  color: var(--primary) !important;
}
.badge-content {
  background-color: var(--primary) !important;
}
.sort-menu-refresh__item.selected {
  border-bottom: var(--primary) !important;
}
.komachi_player {
  aspect-ratio: 16/9;
  border-radius: 7px;
  overflow: hidden;
}
.title {
  color: var(--primary);
  font-weight: 500;
}
.blob {
  padding: 1px 5px;
  background-color: var(--background);
  border-radius: 7px;
}
.seperator {
  margin: 5px 0;
}

.relations {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-top: 5px;
}
.relationsSingle {
  position: relative;
  color: var(--color);
  background-color: var(--secondary);
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 7px;
  text-decoration: none;
}
.relationsPoster {
  width: 100%;
  border-radius: 7px;
  aspect-ratio: 5/7;
}
.relationsFormat {
  position: absolute;
  background-color: var(--background);
  top: 10px;
  left: 10px;
  border-radius: 4px;
  padding: 0px 5px;
  font-size: 0.7rem;
  font-weight: 100;
  display: flex;
}

/* --------------------------------- */
/* -----------responsive------------ */
/* --------------------------------- */
@media screen and (max-width: 1900px) {
  .latestPoster {
    height: auto;
  }
}

@media screen and (max-width: 1440px) {
  .topAiringPoster {
    height: auto;
  }

  .container {
    width: 90%;
  }

  .searchPoster {
    height: auto;
  }
}

@media screen and (max-width: 1024px) {
  .navbarII {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    background-color: var(--background);
    z-index: 5;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 10000000;
    justify-content: center;
  }

  .navbar_search_form {
    width: 80%;
  }

  .navbar_search {
    width: 100%;
  }

  .navbarMenu {
    display: flex;
  }

  .open {
    display: flex;
  }

  .login,
  .signup {
    margin-bottom: 30px;
  }

  .searchField,
  .searchContain {
    background-color: var(--background);
  }

  .latestContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .latestPoster {
    height: 190px;
  }

  .profile_lists {
    grid-template-columns: repeat(3, 1fr);
  }
}
/* Overwriting Some default CSS for Carousel */
.swiper-button-prev,
.swiper-button-next {
  display: none;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  left: 20px;
  bottom: 15px;
}
.swiper-pagination {
  text-align: left;
}
.swiper-pagination-bullet-active {
  background-color: var(--primary) !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  width: auto !important;
  left: 18px !important;
}

@media screen and (max-width: 980px) {
  .s768seperator {
    display: flex;
    align-items: flex-start;
    gap: 10px;
  }

  .streamingV2 {
    grid-template-columns: 1fr;
  }

  .streamingV2_Poster {
    width: 200px;
  }

  .streamingV2_PosterContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .relations {
    grid-template-columns: repeat(4, 1fr);
  }
  .profile_lists {
    grid-template-columns: 1fr 1fr;
  }

  .profile_avatar {
    width: 100px;
    height: 100px;
  }

  .profile_banner_inner {
    bottom: -30px;
  }

  .streamingV2Buttons {
    grid-template-columns: repeat(10, 1fr);
    gap: 3px;
  }

  .login,
  .signup {
    grid-template-columns: 1fr 2fr;
  }

  .latestContainer {
    grid-template-columns: repeat(5, 1fr);
  }

  .latestPoster {
    height: auto;
  }

  .searchEngine {
    justify-content: flex-end;
  }

  .searchContainerMain {
    grid-template-columns: repeat(5, 1fr);
  }

  .streaming {
    grid-template-columns: 1fr;
  }

  .streamingInfoPoster {
    width: 200px;
    height: auto;
  }

  .streaminImageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .streamingPlayerEpisodeNumber {
    font-size: 14px;
  }
}

.embed-player {
  border-radius: 7px;
}
.icon {
  display: flex;
}
.comment_loader {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

@media screen and (max-width: 600px) {
  .relations {
    grid-template-columns: repeat(3, 1fr);
  }
  .login,
  .signup {
    grid-template-columns: 1fr;
  }

  .latestContainer {
    grid-template-columns: repeat(4, 1fr);
  }

  .searchContainerMain {
    grid-template-columns: repeat(3, 1fr);
  }

  .streamingPlayerButtons {
    grid-template-columns: repeat(8, 1fr);
  }

  .imageStreaming {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
  }

  .streamingInfoPoster {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .streamingV2_Poster {
    width: 150px;
  }
  .profile_banner_inner {
    left: 30px;
  }
  .latestContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .streamingV2Buttons {
    grid-template-columns: repeat(7, 1fr);
  }

  .topAiringPoster {
    height: auto;
  }

  .streamingV2_Poster {
    width: 120px;
  }
}

@media screen and (max-width: 375px) {
  .latestContainer,
  .searchContainerMain {
    grid-template-columns: 1fr 1fr;
  }

  .searchField {
    width: auto;
  }
  .s768seperator {
    flex-direction: column;
  }
  .streamingV2_Poster {
    width: 100%;
  }
}
