.cardsContainer {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}

@media screen and (max-width: 1024px) {
  .cardsContainer {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 960px) {
  .cardsContainer {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 650px) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 500px) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 375px) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
