.footer {
  padding: 100px 0;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
}
.footer_main {
  background-color: var(--secondary);
  width: 100%;
  margin-top: auto;
}
.footer_links {
  display: flex;
  flex-direction: column;
}
.link_wrapper > a,
.link_wrapper > button {
  color: var(--color);
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}
.link_wrapper > button {
  background-color: transparent;
  border: none;
}
.link_wrapper > a:hover,
.link_wrapper > button:hover {
  color: var(--primary);
}
.follow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}
.follow > a {
  color: var(--color);
  text-decoration: none;
  font-size: 1.2rem;
  display: flex;
}
.copyright {
  margin-top: 25px;
}
.part_two {
  text-align: right;
}

@media screen and (max-width: 768px) {
  .footer {
    grid-template-columns: 1fr;
  }
  .part_two {
    text-align: left;
  }
  .follow {
    justify-content: flex-start;
  }
  .footer_links {
    flex-direction: row;
    gap: 5px;
  }
}
