.latest_Main {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 5px;
  align-items: baseline;
}
.ranking_wrapper {
  background-color: var(--secondary);
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.rank1_image {
  width: 100%;
  height: 200px;
  border-radius: 7px;
  object-fit: cover;
  object-position: top;
}
.rank1_container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    var(--secondary) 21%,
    rgba(0, 0, 0, 0) 187%
  );
}
.episodes_count,
.rank_details {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  flex-wrap: wrap;
  line-height: 0.8rem;
  font-size: 0.9rem;
}
.rank_Main {
  display: flex;
  gap: 10px;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--text);
  z-index: 1;
}
.rank_Number {
  height: 40px;
  aspect-ratio: 2/2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  color: var(--secondary);
  border-radius: 7px;
}
.rank1_container {
  position: relative;
  text-decoration: none;
  color: var(--color);
}
.count_Wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  color: var(--color);
  border-radius: 5px;
}
.count_Wrapper > svg {
  color: var(--primary);
}
.rank_Main_Others {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  color: var(--text);
  z-index: 1;
  background-color: var(--background);
  padding: 10px;
  border-radius: 7px;
  text-decoration: none;
}
.other_ranks {
  /* padding: 0 10px 10px 10px; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.rank_Number_Others {
  color: var(--primary);
  background-color: var(--secondary);
}
.others_Poster {
  width: 50px;
  border-radius: 7px;
}
.others_rank {
  display: -webkit-box;
  font-size: 0.9rem;
  line-clamp: 1;
  -webkit-line-clamp: 1;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.rankin {
  display: flex;
  gap: 10px;
}
.ranking_Changers {
  display: flex;
  align-items: center;
  gap: 5px;
}
.ranking_Changers > button {
  font-size: 0.9rem;
  color: var(--color);
  background-color: var(--secondary);
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}
.switch {
  display: flex;
  align-items: center;
  gap: 5px;
}
.switch > button {
  border: none;
  color: var(--color);
  background-color: var(--secondary);
  padding: 3px 5px;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
}
.ranks_2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .rank1_name {
    font-size: 1rem;
  }
  .rank_Main,
  .rank_Main_Others {
    gap: 5px;
  }
  .episodes_count,
  .rank_details {
    font-size: 0.7rem;
    gap: 2px;
  }
  .others_rank {
    line-height: 15px;
  }
  .rank_Number_Others,
  .rank_Number {
    width: 30px;
    height: 30px;
    aspect-ratio: 2/2;
  }
  .rankin {
    gap: 5px;
  }
  .latest_Main {
    grid-template-columns: 1fr;
  }
}
