.streamingV2_ReactPlayer {
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 7px;
}
.streamingV2_ReactPlayerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 5px 0;
}
.streamingV2_DownloadIcon {
  font-size: 1.2rem;
  display: flex;
}
.streamingV2_Download {
  text-decoration: none;
  color: var(--primary);
  font-size: 0.8rem;
  background-color: var(--background);
  padding: 2px 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.streaming_options {
  display: flex;
  align-items: center;
  gap: 5px;
}
.episodes_Wrapper {
  background-color: var(--secondary);
  padding: 0 5px;
  border-radius: 5px;
  display: grid;
}
.playerTrajectory {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 5px;
}
.streamingV2Buttons {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  overflow-y: scroll;
  align-items: flex-start;
  max-height: 560px;
  margin-bottom: 5px;
}
.streamingV2Button {
  border: none;
  color: var(--color);
  background-color: var(--background);
  border-radius: 3px;
  padding: 8px 8px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.streamingV2Button:hover {
  background-color: var(--primary) !important;
  color: var(--background) !important;
  opacity: 70%;
  transition: 0.33s all;
}
.serverSources {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.serverSources > button {
  color: var(--color);
  background-color: var(--background);
  border: none;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.serverSources > button > svg {
  display: flex;
  transform: translateY(0.5px);
}
#videoPlayerWrap {
  overflow: hidden !important;
}
.external_sources {
  display: grid;
  grid-template-columns: 1fr;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 5px;
  border: 2px dashed var(--background);
  gap: 5px;
  align-items: center;
}
.external_sources_1 {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 2px;
  background-color: var(--background);
  border-radius: 4px;
  padding: 10px 5px;
}
.nextAiringEpisode {
  font-size: 0.9rem;
  text-align: center;
}
.source_btns {
  display: flex;
  gap: 5px;
}
.source_btns > button {
  border: none;
  font-size: 0.7rem;
  color: var(--background);
  padding: 3px 10px;
  border-radius: 3px;
  background-color: var(--secondary);
  cursor: pointer;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 5px;
}
.ctrls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 5px;
  border: 2px dashed var(--background);
  border-radius: 5px;
  margin-bottom: 5px;
}
.ctrl {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
  color: var(--color);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ctrl > input {
  display: none;
}
.ctrl > p {
  margin-left: 20px;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: var(--background);
  border-radius: 4px;
}
.ctrl > input:checked ~ .checkmark {
  background-color: var(--primary);
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.ctrl > input:checked ~ .checkmark:after {
  display: block;
}
.checkmark:after {
  left: 5px;
  top: 3px;
  width: 3px;
  height: 5px;
  border: solid var(--background);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.player_Wrapper {
  position: relative;
}
.ed {
  position: absolute;
  width: 0px;
  height: 5px;
  background-color: var(--primary);
  bottom: 27px;
  opacity: 50%;
}
.search {
  background-color: var(--background);
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
}
.search > input {
  font-size: 1rem;
  outline: none;
  color: var(--color);
  background-color: transparent;
  border: none;
  width: 67px;
}
.range_Main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.range_limit {
  background-color: var(--background);
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: 2px;
  width: 77px;
}
.limit_Main {
  display: flex;
  align-items: stretch;
  gap: 5px;
}
.limit_Main > button {
  border: none;
  color: var(--color);
  padding: 0 10px;
  background-color: var(--background);
  border-radius: 4px;
  cursor: pointer;
}
.limit_details {
  position: absolute;
  color: var(--color);
  background-color: var(--secondary);
  width: 90px;
  right: 0;
  display: grid;
  gap: 3px;
  border-radius: 4px;
  padding: 5px;
  z-index: 10;
}
.limit_details button {
  border: none;
  color: var(--color);
  background-color: var(--background);
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 5px;
}

@media screen and (max-width: 1440px) {
  .streamingV2 {
    grid-template-columns: 3fr 1fr;
  }
}
@media screen and (max-width: 960px) {
  .playerTrajectory {
    grid-template-columns: 1fr;
  }
  .streamingV2Buttons {
    max-height: 285px;
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .external_sources {
    display: grid;
    grid-template-columns: 1fr;
  }
  .streamingV2Buttons {
    grid-template-columns: repeat(3, 1fr);
  }
  .range_Main {
    flex-wrap: wrap;
    gap: 5px;
  }
}
@media screen and (max-width: 600px) {
  .streamingV2Buttons {
    grid-template-columns: repeat(2, 1fr);
  }
}
