.header {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  gap: 5px;
}
.navigation > button {
  border: none;
  padding: 5px 10px;
  background-color: var(--secondary);
  border-radius: 4px;
  color: var(--color);
  cursor: pointer;
}
