.info_header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.external_db_links {
  display: flex;
  align-items: center;
  gap: 5px;
}
.external_db_links > a {
  color: var(--primary);
  font-size: 1rem;
  text-decoration: none;
  display: flex;
}
.external_db_links > a:last-child {
  font-size: 1.5rem;
}
