.player {
  padding: 10px;
  background-color: var(--secondary);
  border-radius: 7px;
}
.poster {
  width: 100%;
  border-radius: 7px;
}
.info {
  padding: 10px;
  background-color: var(--secondary);
  border-radius: 7px;
}
.description {
  opacity: 50%;
  font-size: 1rem;
  line-height: 20px;
  padding-top: 10px;
}
.genre {
  display: inline;
  font-size: 0.9rem;
  background-color: var(--background);
  padding: 1px 5px;
  border-radius: 7px;
}
.genres {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  padding-top: 10px;
}
.native {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  gap: 5px;
  align-items: flex-start;
  padding-bottom: 20px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 5px;
  padding-top: 10px;
}
.button {
  border: none;
  color: var(--color);
  background-color: var(--background);
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px 0;
  cursor: pointer;
}
.episodeInfo {
  margin-bottom: 5px;
}

@media screen and (max-width: 1024px) {
  .native {
    grid-template-columns: 1fr;
  }
  .info {
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .info {
    grid-template-columns: 2fr 5fr;
  }
}
@media screen and (max-width: 450px) {
  .info {
    grid-template-columns: 1fr;
  }
  .poster {
    width: 150px;
  }
}
