.streamingV2_ReactPlayer {
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 7px;
}
.streamingV2_ReactPlayerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 3px 0;
}
.streamingV2_DownloadIcon {
  font-size: 1.2rem;
  display: flex;
}
.streamingV2_Download {
  text-decoration: none;
  color: var(--color);
  display: flex;
  align-items: center;
  gap: 5px;
}
.streaming_options {
  display: flex;
  align-items: center;
  gap: 5px;
}
.streamingV2Buttons {
  display: grid;
  /* grid-template-columns: repeat(12, 1fr); */
  gap: 5px;
  overflow-y: scroll;
  align-items: flex-start;
  max-height: 240px;
  margin-bottom: 5px;
}
.streamingV2Button {
  border: none;
  color: var(--color);
  background-color: var(--background);
  border-radius: 3px;
  padding: 10px;
  text-align: start;
  cursor: pointer;
}
.serverSources {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.serverSources > button {
  color: var(--color);
  background-color: var(--background);
  border: none;
  padding: 8px 10px;
  border-radius: 7px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}
.serverSources > button > svg {
  display: flex;
  transform: translateY(0.5px);
}
#videoPlayerWrap {
  overflow: hidden !important;
}
iframe {
  border: 0;
  overflow: hidden !important;
}
.external_sources {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding: 5px;
  border-radius: 7px;
  margin-bottom: 5px;
  border: 2px dashed var(--background);
  gap: 5px;
}
.external_sources_1 {
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.recommendations {
  padding-bottom: 30px;
}
.recommendations_list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
}
.recommendations_image {
  width: 100%;
  border-radius: 5px;
  aspect-ratio: 2 / 2.8;
}
.recommendations_individual {
  padding: 5px;
  background-color: var(--secondary);
  border-radius: 7px;
}

@media screen and (max-width: 1440px) {
  .streamingV2 {
    grid-template-columns: 3fr 1fr;
  }
}

@media screen and (max-width: 1024px) {
  .recommendations_list {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .external_sources {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 700px) {
  .recommendations_list {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .recommendations_list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 320px) {
  .recommendations_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
